

:root {
    --white: white;
    --white-blue: rgba(240, 245, 248, 0.754);
    --ladrillo-1: #e84a2b;
    --ladrillo-semi-dark: #db4628;
    --plomo-1: rgb(149 165 170 / 32%);
    --ladrillo-transparent: #e84a2bbd;
    --black-1: #131A25;
    --text-black-1: #131A25;

}